@font-face{
	font-family:"Orator Std";
	src:url("http://www.myfontfree.com/data/54/o/orator-std/OratorStd.otf");
}

$full-height: 100%;
$primary-color: rgba(245,193,35,0.7);
$title-font: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
$secondary-color: #6D1C2E;
$body-font: 'Lato',sans-serif;
$tablet: "screen and (max-width: 768px)";
$videobreak: "screen and (max-width: 900px)";
$desktop: "(min-width: 1024px)";
$img-padding: 40vh 0;
$create-space: 2%;

body {
	height: $full-height;
}

.fullContainer {
	height: $full-height;
	position: relative;
	background-color: $primary-color;
}

.divider {
	padding-top: $create-space;
	padding-top: 2%;
    width: 7%;
    border-bottom: 1px solid #76002a;
    margin: 0 auto;
}

// Logo

.logos {
	background-image: url('images/logos2.png');
	padding: 12% 0;

}

// Hero Section

.hero-img {
	text-align: center;
	background-image: url('images/mask3.png');
	height: 65vh;
	width: 60%;
	margin: 0 auto;
	@media #{$tablet} {
		height: 40vh;
		width: 60%;
	}
}

.header {
	font-family: $title-font;
	font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-decoration: line-through;
    padding-top: 3%;
    color: $secondary-color;
}

.hero-text {
	text-align: center;
    color: white;
    font-family: "OratorStd", sans-serif;
}
 
 .text-style-1 {
 	position: relative;
    z-index: 3;
    text-align: center;
    top: -30vh;
    font-size: 1.5em;
}

.hero-subtitle {
	@extend .hero-text;
	line-height: 1.9em;
	font-size: 1.2em;
	padding-bottom: 10%;
}

.hero-super-subtitle {
	@extend .hero-text;
	font-size: 2.5em;
	color: $secondary-color;
	font-weight: bold;
}


// Video Section

.videos {
    text-align: center;
    
    @media #{$videobreak} {
   	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    }
}

.videos iframe, .videos object, .videos embed {
	
	@media #{$videobreak} {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    }
}
// Section One

.section, .section {
	margin-top: 7%;
	margin-bottom: 2%;
	width: 100%;
}

.column1 {
	height: 100%;
}

.column2 {
	@extend .column1;
}

.columns {
	overflow: hidden;
}

.move-left {
	margin-left: 4%;

	@media #{$tablet} {
		margin-left: 0;
	}
}

.section-title {
	text-transform: uppercase;
	font-size: 1.3em;
	font-family: $body-font;
}

.section-text {
	font-family: $body-font;
	text-align: justify;
	width: 100%;
}

.wdth-100 {
	width: 100%;
}

.img-clmn {
	padding-left: 3%;

	@media #{$tablet} {
		padding-left: 0;
	}
}

.cta-text {
	font-family: $body-font;
	text-align: center;
	text-decoration: none;
}

.footer {
	padding: 2% 0;
	font-family: $body-font;
	text-align: center;
}

.cta-text-section {
	margin-top: 2%;
	margin: 0 auto;	
}

	a {
		text-align: center;
		font-family: $body-font;
		text-decoration: none;
		color: black;
	}

	a:hover {
		color: $secondary-color;
		text-decoration: line-through;
		font-weight: bold;
	}

.one-half, .column {
	@media #{$tablet} {
		width: 100%;
	}
}

.img-here {
	width: 100%;
}

.bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.img5 {
	background-image: url('images/img5.jpg');
	padding: $img-padding;
}

.img4 {
	background-image: url('images/img4.jpg');
	padding: $img-padding;

	@media #{$tablet} {
		margin-top: $create-space;
	}
}

.img3 {
	background-image: url('images/img3.jpg');
	padding: $img-padding;

	@media #{$tablet} {
		margin-top: $create-space;
		width: 100%;
	}
}

.img2 {
	background-image: url('images/img2.jpg');
	padding: $img-padding;

	@media #{$tablet} {
		margin-top: $create-space;
		// width: 100%;
	}

.logos {
	background-image: url('images/logos2.png');
	padding: $img-padding;

	@media #{$tablet} {
		margin-top: $create-space;
		width: 100%;
	}

}

}

.three {
	@media #{$tablet} {
		margin-top: $create-space;
	}
}

.icon {
	width: 27px;
	// background-color: black;
	padding: 13px;
	margin: 0 auto;
	background-image: url('images/mask-icon.png');
}

.small-text {
	font-size: 0.9em;
}