@font-face{
	font-family:"Orator Std";
	src:url("http://www.myfontfree.com/data/54/o/orator-std/OratorStd.otf");
}

$full-height: 100%;
$primary-color: rgba(245,193,35,0.7);
$title-font: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
$secondary-color: #6D1C2E;
$body-font: 'Lato',sans-serif;

body {
	height: $full-height;
}

.fullContainer {
	height: $full-height;
	position: relative;
	background-color: $primary-color;
}

.hero-img {
	text-align: center;
}

.header {
	font-family: $title-font;
	font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-decoration: line-through;
    padding-top: 3%;
    color: $secondary-color;
}

.hero-text {
	text-align: center;
    color: white;
    font-family: "OratorStd", sans-serif;
}
 
 .text-style-1 {
 	position: relative;
    z-index: 3;
    text-align: center;
    top: -30vh;
    font-size: 1.5em;
}

.hero-subtitle {
	@extend .hero-text;
	line-height: 1.9em;
	font-size: 1.2em;
	padding-bottom: 10%;
}

.hero-super-subtitle {
	@extend .hero-text;
	font-size: 2.5em;
	color: $secondary-color;
	font-weight: bold;
}

// Section One

.section, .section {
	margin-top: 7%;
	margin-bottom: 2%;
	// height: 200px;
	width: 100%;
}

.section {
	// background-color: red;
}

.column1 {
	height: 100%;
	// background-color: red;
}

.column2 {
	@extend .column1;
	// background-color: orange;
}

.column-space {
	// padding: 0 4px;
	// width: 100%;
}

.columns {
	overflow: hidden;
}

.move-left {
	margin-left: 4%;
}

.section-title {
	text-transform: uppercase;
	font-size: 1.3em;
	font-family: $body-font;
	// font-weight: 700;
}

.section-text {
	font-family: $body-font;
	// width: 70%;
	text-align: justify;
	// line-height: 1.6em;
}

.wdth-65 {
	width: 65%;
}

.img-clmn {
	padding-left: 3%;
}

.cta-text {
	@extend .section-title;
	text-align: center;
	padding-top: 3%;
	color: $secondary-color;
	text-decoration: none;
}

.footer {
	padding: 2% 0;
	font-family: $body-font;
	text-align: center;
}

// .section-text2 {
// 	@extend .section-text;
// 	// width: 100%;
// }

	